<h1><%= pageTitle %></h1>
<% console.log("Inside List.ejs File") %>
<a href="/places/new">Add New Student</a>
<% for( let index = 1; index <= totalPages; index++ ) { %>
    <li><a href="/places/<%= index %>"><%= index %></a></li>
<% } %>
<table style="width: 100%;" border="1">
    <thead>
        <tr>
            <th>id</th>
            <th>Name</th>
            <th>Landscape</th>
            <th>Location</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% for( let index = 0; index < places.length; index++ ) { %>
            <tr>
                <td><%= places[index]._id %></td>
                <td><%= places[index].name %></td>
                <td><%= places[index].address %></td>
                <td>
                        <!-- <a href="/places/add-to-cart/<%= places[index]._id %>">Add to Cart</a> -->
                        <a href="/places/delete/<%= places[index]._id %>">Del</a>
                        <a href="/places/edit/<%= places[index]._id %>">Edit</a>
                </td>
                
            </tr>
        <% } %>
    </tbody>
</table>